name: Remote SSH Command
on: [workflow_dispatch]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ vars.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
              git clone https://github.com/ANUJ-POHANKAR/index.html1.git
              cd index.html1
              sudo chmod 666 /var/www/html/index.html
              sudo cp index.html /var/www/html/index.html
              sudo systemctl reload nginx
              echo "Deployment complete"
